:root {
    --primary: #1E3A8A;
    --secondary: #2563EB;
    --success: #16A34A;
    --warning: #F59E0B;
    --danger: #DC2626;
    --bg: #FFFFFF;
    --bg-light: #F3F4F6;
    --bg-dark: #1F2937;
    --text-primary: #1F2937;
    --text-secondary: #9CA3AF;
    --aguardando: #777777;
    --select: #2564eb42;
    --active: #a6a6a7;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: var(--bg);
}
