.sidebar {
    position: fixed;
    background-color: var(--primary);
    height: 100%;
    left: 0;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    top: 0;
    width: 190px;
}

.icon {
    height: 100%;
    padding-top: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconItem {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bg);
    text-decoration: none;
    font-size: 50px;
    margin-bottom: 42px;
}

.iconItem i {
    z-index: 2;
}

.iconExit{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bg);
    text-decoration: none;
    font-size: 50px;
    margin-top: auto;
    margin-bottom: 44px;
}

.iconExit i {
    z-index: 2;
    margin-left: 5px;
}

.activeIndicator {
    margin-top: -5px;
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: var(--secondary);
    opacity: 60%;
    border-radius: 20px;
    z-index: 1;
}

.exitIndicator {
    margin-top: -5px;
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: var(--secondary);
    opacity: 60%;
    border-radius: 20px;
    z-index: 1;
}

@media (max-width: 1440px) {
    .sidebar {
        width: 150px;
    }

    .icon {
        height: 100%;
        padding-top: 54px;
    }

    .activeIndicator{
        width: 60px;
        height: 60px;
    }

    .iconItem {
        font-size: 40px;
        margin-bottom: 30px;
    }

    .exitIndicator{
        width: 60px;
        height: 60px;
    }

    .iconExit i {
        font-size: 40px;
    }
}
